<html xmlns="http://www.w3.org/1999/html">
<title>Register</title>
<body>
    <a href="index"> <h1>Register</h1></a>
                            <h4>Sign up</h4>
            <form action="#" method="post" autocomplete="off">
                <div>
                    <input type="text" name="name" required="">
                 <label>First name</label>
                 <span></span>
                </div>

                <div>
                <input type="email" name="email" required="">
                <label>Email</label>
                <span></span>
                </div>
                <div>
                    <input type="tel" name="phone" required="">
                    <label>Phone Number</label>
                    <span></span>
                </div>
                <div>
                    <input type="password" name="password" required="">
                    <label>Password</label>
                    <span></span>
                </div>

                <div class="clear"> </div>
                    <div>
                <input type="submit" value="Sign Up">
                        </div>

            </form>
</body>
</html>